<header class="top-bg">
	<div class="wrapper-1">
		<h1>Restaurant location</h1>
		<h4>Find us</h4>
	</div>
</header>

<div class="search-container">
	<h2>HOME » LOCATION</h2>
	<div class="search-field">
		<div class="search">Search this website...</div>
		<a class="button-search" href="#"><span>Search</span></a>
	</div>
</div>

<section class="findUs">
</section>

<aside class="footer-2">
	<div class="description">
		<img src="assets/images/logo_green.png" alt="myCuisine" />
		<h3><span class="copyright">&copy;</span>&nbsp;MyCuisine Theme, 2010</h3>
		<p>Donec placerat sodales aliquet. Vivamus neque nulla, fermentum id ultrices at, vulputate et risus. Aenean non lectus ipsum.
			Curabitur sagittis urna vel elit euismod faucibus. Aliquam sed magna id dolor cursus ullamcorper ut commodo nunc. Mauris
			suscipit, dolor et tristique scelerisque, leo neque congue libero, mollis accumsan nulla </p>
	</div>

	<div class="comments">
	</div>

	<div id="posts">
	</div>
</aside>