
	<div class="address">
		<h2>Address</h2>
		<p>3214 Sunny st. Petaluma, CA 55439</p>
	</div>
	<div class="hours_of_operation">
		<h2>Hours of operation</h2>
		<p>monday-friday: <span>8am-6pm</span> <br> saturday-sunday: <span>8am-10pm</span></p>
	</div>
	<div class="contact">
		<h2>Contact Info</h2>
		<p>email address: <span>info@mycuisine.com</span> <br> telephone: <span>754-234-6643</span> <br> FAX: <span>343-664-2234</span>
		</p>
	</div>

	<div class="gmaps-border">
		<div class="gmaps-container-1">
			<iframe src="https://www.google.com/maps/embed/v1/place?q=Harrods,Brompton%20Rd,%20UK&zoom=17&key=AIzaSyCIhhgifIl12jzTNL-HrU-5fvqdeMnENxI">
			</iframe>
		</div>
	</div>
