<div class="wrapper-top" id="posts">
</div>

<!-- SLOGAN in main.handlebars-->
<div class="slogan">
	<div class="radio-line"></div>
	<h2>"Your awesome company slogan goes right over here, we have the best food around"</h2>
	<h3>At vero eos et accusam et justo duo dolores et ea rebum.</h3>
	<img src="assets/images/home/slogan-stars.png" alt="slogan" class="" />
</div>
<div class="slogan-shadow"></div>
<div class="bottom-line"></div>
<!-- SLOGAN END -->
<!-- featured: 3 section -->
<div class="featured">
	<section class="section1">
	</section>


	<section class="section2">
	</section>

	<section class="section3">
	</section>
</div>

<footer>
		<button class="bottom-btn"><a href="#">Click Here To Browse The Menu</a></button>
		<img height=15px width=45px class="symbol-logo" src="assets/images/symbol-logo.png" alt="symbol-logo">

		<ul class="menu-nav">
			<li><a href="#/home'">HOME</a></li>
			<li><a href="#">CONTACT</a></li>
			<li><a href="#">MENU</a></li>
			<li><a href="#/location">LOCATION</a></li>
			<li><a href="#">HOURS</a></li>
			<li><a href="#">AWARDS</a></li>
			<li><a href="#">REVIEWS</a></li>
		</ul>
		<p> Designed by <span>ElegantThemes</span> - Powered by <span>WordPress</span></p>
</footer>