<div class="wrapper-top" id="posts">
</div>

<!-- SLOGAN in main.handlebars-->
<div class="slogan">
	<div class="radio-line"></div>
	<h2>"Your awesome company slogan goes right over here, we have the best food around"</h2>
	<h3>At vero eos et accusam et justo duo dolores et ea rebum.</h3>
	<img src="assets/images/home/slogan-stars.png" alt="slogan" class="" />
</div>
<div class="slogan-shadow"></div>
<div class="bottom-line"></div>
<!-- SLOGAN END -->
<!-- featured: 3 section -->
<div class="featured">
	<section class="section1">
	</section>


	<section class="section2">
	</section>

	<section class="section3">
	</section>
</div>