<div class="blog-posts">
	<div class="blog-post">
		<div class="frame">
			<img src="{{item.img}}" class="" width="225" height="225" alt="article-img">
		</div>
		<div class="post-desc">
			<p>{{item.description}}</p>
		</div>
	</div>
	<aside class="com-aside">
		<h2>Recent Posts</h2>
		<div class="com-bottom">
			<div class="com-container">
				<div class="com-posts">
				</div>
			</div>
		</div>
	</aside>
</div>
<div class="leaveComment">
	<div class="comment-form form-container">
		<h2 class="text-uppercase mt-5">Leave a comment</h2>
	</div>
</div>