<!-- class="home-block last" -->
<h2 class="title-font">CUSTOMER TESTIMONIALS</h2>

<div class="com-bottom">
	<div class="com-container">
		<div class="comment-wrap">
			<div class="thumb">
				<img width=56px height=56px class="item-image" src="{{img}}">
			</div>
			<div class="item-descr">
				<h4 class="author">{{name}}</h4>
				<p class="short-comment">{{title}}</p>
			</div>
		</div>
		<div class="second-paragr">{{description}}</div>
	</div>
</div>