<!-- class="home-block" -->
<h2 class="title-font">LOCATION AND HOURS OF OPERATION</h2>
<div class="gmaps-border">
	<div class="gmaps-container-1">
		<iframe src="https://www.google.com/maps/embed/v1/place?q=Harrods,Brompton%20Rd,%20UK&zoom=17&key=AIzaSyCIhhgifIl12jzTNL-HrU-5fvqdeMnENxI">
		</iframe>
	</div>
</div>
<div class="thumb">
	3214 Sunny st. Petaluma, CA 55439
</div>
<div class="worktime">
	<div class="mon-fr">
		<span class="work_days">Mon-Fri</span>
		<span class="work_hours">8am-6pm</span>
	</div>
	<div class="weekend">
		<span class="work_days">Sat-Sun</span>
		<span class="work_hours">8am-10pm</span>
	</div>
</div>