@font-face {
    font-family: Myriad;
    src: url('../fonts/MyriadPro-Regular.otf');
}
	/* HEADER */

.top-bg {
	background: url('../images/top-bg.png');
	height: 250px;
	width: 1400px;
}

.wrapper-1 {
	padding-left: 220px;
	padding-top: 160px;
	width: 960px;
}

.top-bg h1{
	color: white;
	font-family: Myriad;
	font-size: 48px;
	text-transform: uppercase;
}

.top-bg h4{
	color:#dacba7;
	font-size: 14px;
	font-weight: bold;
}

.search-container {
	background: url('../images/home/slogan-backgr.png') no-repeat bottom center ;
	display: flex;
	justify-content: space-around;
	width: 1400px;
}

.search-container h2 {
	color: #b4a48d;
	font-size: 14px;
	line-height: 70px;
	padding-right: 120px;
}

.search-field {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}

.search {
	background: url('../images/search.png') no-repeat center ;
	color: #a1a0a0;
	font-family: GeorgiaItalic;
	font-size: 12px;
	height: 37px;
	margin-right: 5px;
	padding-left: 15px;
	padding-top: 12px;
	width: 170px;
}

.button-search {
	background: url('../images/search-button.png') no-repeat bottom center ;
	color: white;
	font-size: 16px;
	height: 37px;
	padding-top: 10px;
	padding-left: 20px;
	width: 85px;
}

/* SECTION FINDUS */

.findUs {
	display: flex;
	margin-left: 220px;
	padding-top: 60px;
	width: 960px;
}

.findUs .location-container {
	color: #442917;
	font-size: 14px;
	margin-right: 100px;
}

.location-container h2, .comments h2, #posts h2 {
	color: #cac6a1;
	font-size: 22px;
	font-family: LeagueGothic;
	text-shadow: 1px 1px 1px #ffffff;
	text-transform: uppercase;
}

.location-container p{
	margin-top: 15px;
	margin-bottom: 40px;
}

.hours_of_operation p, .contact p{
	text-transform: uppercase;
}

.hours_of_operation span, .contact span{
	text-transform: lowercase;
	color: #898271;
}

.gmaps-container {
	width: 600px;
	height: 400px;
	background: white;
	border: 1px solid #e5e2c6;

}
.gmaps-container iframe {
	width: 590px;
	height: 390px;
	margin: 5px;
}

	/* FOOTER-2 */

.footer-2 {
	display: flex;
	margin-left: 220px;
	width:960px;
}
.footer-2 .description {
	width: 260px;
	margin-right: 120px;
	text-align: justify;
}
.footer-2 .comments {
	width: 260px;
	margin-right: 60px;
	text-align: justify;
}
.footer-2 #posts {
	width: 260px;
	text-align: justify;
}

.comments h2, #posts h2 {
	margin-bottom: 20px;
}

.description h3 {
	color: #898271;
	line-height: 30px;
}

.footer-2 p, li {
	color: #442917;
	font-size: 12px;
	line-height: 15px;
}
.footer-2 li span {
	margin-left: 10px;
}

.comments li, #posts li {
	background: url('../images/li-bullet.png') no-repeat 0 5px;
}